<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" , content="text/html; charset=utf-8" )/>
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <title> Join the SF Bay Interns 2017 community on Slack! </title>
  <link rel="stylesheet/less" type="text/css" href="styles/styles.less" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js"></script>
</head>

<body>
  <div id="wrapper">
    <div class="main">
      <div class="header">
        <h1 class="error"> <%= error.status %> <br> <%= message %> </h1>
      </div>
    </div>
  </div>
</body>

</html>
